# {{ ansible_managed }}
[Unit]
Description=Refresh ECR imagePullSecret for K3s
After=k3s.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ecr-refresh.sh
